/* make variables */
:root {
  --lightgray: #d48080;
  --gray: #827e7edd;
  --orange: #85c4b5fd;
  --darkGrey: #615d5d;
  --caloryCard: #95a4a1fa;
  --planCard: linear-gradient(210.41deg, #48f2ef 1.14%, #39ffef 100.75%);
  --appColor:  #708e8e;
}

.App {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;

}

.blur{
  background-color: rgba(93, 167, 155, 0.69);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: 1;
}